<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/RedeemIcon.ico">
    <title>Dashboard Admin</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboardStyle.css">
    <link rel="stylesheet" href="../static/styles/dashboardStyle.css">

    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle-button">
    <div class="custom-sidebar">
        <div class="sidebar-brand">
            <img src="/img/redeemMiniIcon.svg" alt="logo" class="mini-logo">
            <!--h4 class="redeem-name">Redeem</h4--><img src="/img/redeemLogoWithe.png" alt="redeem-text" class="redeem-text">
        </div>

        <hr class="solid">

        <div class="principal-sidebar-menu">
            <ul>
                <li>
                    <a id="dash-button"  class="selected" th:href="@{/admin/}">
                        <span class="material-icons sidebar-icon">analytics</span>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/history}" id="trans-hist-button">
                        <span class="material-icons">history_edu</span>
                        <p>Historial transacciones</p>
                    </a>
                </li>

                <hr class="solid">

                <li>
                    <a th:href="@{/admin/allocation}" id="allocate-button">
                        <span class="material-icons">attach_money</span>
                        <p>Consignar a empleados</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/admin/addemp}">
                        <span class="material-icons sidebar-icon">
                            person_add_alt
                        </span>
                        <span>
                            <p>Añadir empleado</p>
                        </span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/admin/members}" id="empl-list-button">
                        <span class="material-icons">groups</span>
                        <p>Ver empleados</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/admin/history}" id="comp-statistics">
                        <span class="material-icons">trending_up</span>
                        <p>Estadísticas</p>
                    </a>
                </li>

                <hr class="solid">

                <li>
                    <a th:href="@{/admin/profile}" id="admin-profile">
                        <span class="material-icons">perm_identity</span>
                        <p>Ver perfil</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/logout}">
                        <span class="material-icons">power_settings_new</span>
                        <p>Cerrar sesión</p>
                    </a>
                </li>
            </ul>   
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="menu-info">
                <label for="nav-toggle">
                    <span class="material-icons header-icon">
                        menu
                    </span>
                </label>
                <div class="current-page"><h4 id="title">Dashboard</h4></div>
                
            </div>
            
            <div class="user-info">
                <div class="name-rol">
                    <h4 th:text="${adminDashboardInfo.name}"></h4>
                    <small>Administrador</small>
                </div>
                <div><span class="material-icons">account_circle</span></div>
            </div>
        </header>

        <main id="main-content">
            <div class="custom-cards">
                <div class="custom-card company">
                    <h3 th:text="${adminDashboardInfo.companyName}"></h3>
                    <span>N.I.T. <span th:text="${adminDashboardInfo.companyNit}"></span></span>
                </div>
                <div class="custom-card budget">
                    <span>Presupuesto</span>
                    <h3>$ <span th:text="${adminDashboardInfo.companyBudget}"></span></h3>
                </div>
            </div>
            <div class="admin-lists">
                <h3>Pendientes por envío</h3>
                <ul>
                   <li class="shippment-list">
                       <div class="shippment-card">

                       </div>
                   </li>
                </ul>
            </div>
            <div class="products-container">
                <h3>Productos mas comprados</h3>
                <ul>
                    <li class="buyed-products">
                        <div class="buyed-card">
                            <div class="inside-image">

                            </div>
                            <h4>1. Arroz roa</h4>
                        </div>
                    </li><li class="buyed-products">
                    <div class="buyed-card">
                        <div class="inside-image">

                        </div>
                        <h4>1. Arroz roa</h4>
                    </div>
                </li>
                </ul>
            </div>
            <div class="day-graph">
                <h3>Productos vendidos diariamente</h3>
                <canvas>

                </canvas>
            </div>
            <div class="admin-lists" id="div-canvas">
                <h3>Empleados que mas compraron</h3>
                <ul>
                    <li class="shippment-list">
                        <div class="shippment-card">

                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    <script src="../static/scripts/adminDashboardLogic.js"></script>
    <script src="/scripts/adminDashboardLogic.js"></script>
</body>
</html>