<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/RedeemIcon.ico">
    <title>Dashboard - Admin</title>

    <!-- Style -->
    <link rel="stylesheet" href="/css/dashboardStyle.css">
    <!--link rel="stylesheet" href="../static/styles/dashboardStyle.css"-->

    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle-button">
    <div class="sidebar">
        <div class="sidebar-brand">
            <img src="/img/redeemMiniIcon.svg" alt="logo" class="mini-logo">
            <!--h2 class="redeem-name">Redeem</h2--><img src="/img/redeemLogoWithe.png" alt="redeem-text" class="redeem-text">
        </div>

        <hr class="solid">

        <div class="sidebar-menu">
            <div>
                <ul>
                    <li>
                        <!-- El href vacío hace que se redireccione al dashboard -->
                        <a href="" class="selected" id="dash-button">
                            <span class="material-icons sidebar-icon">analytics</span>
                            <p>Dashboard</p> 
                        </a>
                    </li>
                    <li>
                        <a onclick="return transactionsHistoryButton()" id="trans-hist-button">
                            <span class="material-icons">history_edu</span>
                            <p>Historial transacciones</p> 
                        </a>
                    </li>

                    <hr class="solid">

                    <li>
                        <a onclick="return allocateButton()" id="allocate-button">
                            <span class="material-icons">attach_money</span>
                            <p>Consignar a empleados</p> 
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/admin/addemp}">
                            <span class="material-icons sidebar-icon">
                                person_add_alt
                                </span>
                            <span> <p>Añadir empleado</p> </span>
                        </a>
                    </li>

                    <li>
                        <a onclick="return empListButton()" id="empl-list-button">
                            <span class="material-icons">groups</span>
                            <p>Ver empleados</p> 
                        </a>
                    </li>

                    <hr class="solid">

                    <li>
                        <a th:href="@{/logout}">
                            <span class="material-icons">power_settings_new</span>
                            <p>Cerrar sesión</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="menu-info">
                <label for="nav-toggle">
                    <span class="material-icons header-icon">
                        menu
                    </span>
                </label>
                <div class="current-page"><h2 id="title">Dashboard</h2></div>
                
            </div>
            
            <div class="user-info">
                <div class="name-rol">
                    <h3 th:text="${adminDashboardInfo.name}"></h3>
                    <small>Administrador</small>
                </div>
                <div><span class="material-icons">account_circle</span></div>
            </div>
        </header>

        <main id="main-content">
            <div class="cards">
                <div class="card company">
                    <h1 th:text="${adminDashboardInfo.companyName}"></h1>
                    <span>N.I.T. <span th:text="${adminDashboardInfo.companyNit}"></span></span>
                </div>
                <div class="card budget">
                    <span>Presupuesto</span>
                    <h1>$ <span th:text="${adminDashboardInfo.companyBudget}"></span></h1>
                </div>
            </div>
        </main>
    </div>
    <script src="../static/scripts/adminDashboardLogic.js"></script>
    <script src="/scripts/adminDashboardLogic.js"></script>
</body>
</html>