<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/RedeemIcon.ico">
    <title>Registrar empleado</title>

    <!-- Style -->
    <link rel="stylesheet" href="styles/styleemp_register.css">

</head>
<body>
    <div class="main-container">
        <div class="form-container">
            <img src="img/RedeemIcon.png" alt="redeem_logo" class="redeem-logo">
            <h3>Nuevo empleado</h3>

            <form action="" class="reg-form">
                <div class="fields">
                    <div class="field">
                        <label for="">Nombres</label>
                        <input type="text" class="field-box" name="name" id="name">
                    </div>
                    <div class="field">
                        <label for="">Apellidos</label>
                        <input type="text" class="field-box" name="lastname" id="lastname">
                    </div>
                    <div class="field">
                        <label for="">Teléfono</label>
                        <input type="text" class="field-box" name="tel" id="tel">
                    </div>
                    <div class="field">
                        <label for="">Fecha de nacimiento</label>
                        <input type="text" class="field-box" name="birthday" id="birthday">
                    </div>
                    <div class="field">
                        <label for="">Correo</label>
                        <input type="text" class="field-box" name="name" id="name">
                    </div>
                    <div class="field">
                        <label for="">Área</label>
                        <input type="text" class="field-box" name="lastname" id="lastname">
                    </div>
                    <div class="field">
                        <label for="">Contraseña</label>
                        <input type="password" class="field-box" name="tel" id="tel">
                    </div>
                    <div class="field">
                        <label for="">Confirmar la contraseña</label>
                        <input type="password" class="field-box" name="birthday" id="birthday">
                    </div>
                </div>
                <div class="options">
                    <input type="submit" class="submit-button" name="reg-submit" id="reg-submit" value="Registrar">
                    <button type="button" class="cancel-button"><a href="/dashboard_admin.html">Cancelar</a></button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>