<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/redeemIcon.ico">
    <title>Historial de transacciones</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/transHistoryStyle.css">
    <link rel="stylesheet" href="../static/styles/transHistoryStyle.css">

    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">


</head>
<body>

<input type="checkbox" id="nav-toggle" class="nav-toggle-button">
<div class="custom-sidebar">
    <div class="sidebar-brand">
        <img src="/img/redeemMiniIcon.svg" alt="logo" class="mini-logo">
        <img src="/img/redeemLogoWithe.png" alt="redeem-text" class="redeem-text">
    </div>

    <hr class="solid">

    <div class="principal-sidebar-menu">
        <div>
            <ul>
                <li>
                    <!-- El href vacío hace que se redireccione al dashboard -->
                    <a th:href="@{/emp/}" id="dash-button">
                        <span class="material-icons sidebar-icon">analytics</span>
                        <p>Dashboard</p> 
                    </a>
                </li>
                <li>
                    <a class="selected" th:href="@{/emp/history}" id="trans-hist-button">
                        <span class="material-icons">history_edu</span>
                        <p>Historial transacciones</p> 
                    </a>
                </li>

                <hr class="solid">

                <li>
                    <a th:href="@{/emp/transfer}" id="transfer-button">
                        <span class="material-icons">connect_without_contact</span>
                        <p>Transferir</p> 
                    </a>
                </li>

                <li>
                    <a th:href="@{/emp/marketplace}">
                        <span class="material-icons sidebar-icon">
                            store
                        </span>
                        <span>
                            <p>Marketplace</p>
                        </span>
                    </a>
                </li>

                <hr class="solid">

                <li>
                    <a th:href="@{/emp/profile}" id="admin-profile">
                        <span class="material-icons">perm_identity</span>
                        <p>Ver perfil</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/logout}" onclick="window.localStorage.clear();">
                        <span class="material-icons">power_settings_new</span>
                        <p>Cerrar sesión</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="main-content">
    <header>
        <div class="menu-info">
            <label for="nav-toggle">
                    <span class="material-icons header-icon">
                        menu
                    </span>
            </label>
            <div class="current-page"><h4>Dashboard</h4></div>

        </div>

        <div class="user-info">
            <div class="name-rol">
                <h5 th:text="${session.name}"></h5>
                <small>Empleado</small>
            </div>
            <div><span class="material-icons">account_circle</span></div>
        </div>
    </header>

    <main id="main-content">
        <div class="trans-container">
            <h1>Historial de transacciones</h1>
            <table class="trans-table">
                <tbody>
                <tr th:each="transaction : ${transferMessages}">
                    <td>
                        <div class="row-container" th:object="${transaction}">
                            <div class="user-date">
                                <p class="type"></p>
                                <p class="general-message"></p>
                                <p class="date"></p>
                            </div>
                            <p class="amount"></p>
                        </div>

                    </td>
                </tr>


                </tbody>
            </table>
        </div>


    </main>
</div>


<script th:inline="javascript">

    let rows = document.getElementsByClassName("row-container");
    let types = document.getElementsByClassName("type");
    let generalMessages = document.getElementsByClassName("general-message");
    let dates = document.getElementsByClassName("date");
    let amounts = document.getElementsByClassName("amount");
    let transferMessages =  [[${transferMessages}]];
    let rowsValues;
    let posValues, inversePosition;
    for(var i=transferMessages.length-1;i>=0;i--){
        inversePosition = transferMessages.length-1-i;
        rowsValues = transferMessages[inversePosition];
        posValues = Object.values(rowsValues);
        if(posValues[0]=="ETransfer"){
            transferType(i);
        }else if(posValues[0]=="EAllocation"){
            allocationType(i);
        }else if(posValues[0]=="EPurchases"){
            purchaseType(i);
        }

    }

    function transferType(i){
        types[i].innerHTML = "Transferencia";
        dates[i].innerHTML = dateFormat(posValues[2]);
        amounts[i].innerHTML = "$" + posValues[1]+",00";
        if(posValues[3] == 0){
            rows[i].style.marginLeft = "40%";
            generalMessages[i].innerHTML = "Para: "+ posValues[4];
            generalMessages[i].style.color = "#85342A";
            amounts[i].style.color = "#85342A";
        }else{
            generalMessages[i].innerHTML = "De: "+posValues[4];
            generalMessages[i].style.color = "#36852A";
            amounts[i].style.color = "#36852A";
        }
    }

    function allocationType(i){
        types[i].innerHTML = "Depósito";
        dates[i].innerHTML = dateFormat(posValues[2]);
        amounts[i].innerHTML = "$" + posValues[1]+",00";
        generalMessages[i].innerHTML = "De: "+posValues[3];
        generalMessages[i].style.color = "#36852A";
        amounts[i].style.color = "#36852A";
    }

    function purchaseType(i){
        types[i].innerHTML = "Compra";
        dates[i].innerHTML = dateFormat(posValues[2]);
        rows[i].style.marginLeft = "40%";
        var generalMessagesText="Producto     Cantidad     Precio ", buyedProduct;
        for(var j=0; j<posValues[3].length; j++){
            buyedProduct = Object.values(posValues[3][j]);
            generalMessagesText+= tab(buyedProduct);
        }
        generalMessages[i].innerHTML = generalMessagesText+ "Total:........."+posValues[1];
    }

    function dateFormat(date){
        var newDate = "";
        for(var i=0; i<11;i++){
            if(date[i] == "-"){
                newDate += "/";
            }else{
                newDate += date[i];
            }
        }
        var hour = parseInt(date.slice(11,13),10);
        var dayPart;
        if(Math.floor(hour/12)==1){dayPart="PM";}else{dayPart="AM";}
        hour = (hour%12).toString();
        if(hour.length==1){hour="0"+hour;}
        newDate += hour+":"+date.slice(14,16)+" "+dayPart;
        return newDate ;
    }

    function tab(purchase){
        return purchase[0]+Concatenar_String(".",15-purchase[0].length)+purchase[1]+Concatenar_String(".",10-purchase[1].toString().length)+purchase[2]+"<br\>";
    }

    function Concatenar_String(A_Repetir, Num_Veces){
        var valorFinal="";
        for(var k = 0; k < Num_Veces; k ++)
        {
            valorFinal += A_Repetir;
        }
        return valorFinal;
    }

</script>


</body>
</html>