<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/redeemIcon.ico">
    <title>Dashboard Empleado</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboardStyle.css">
    <link rel="stylesheet" href="../static/styles/dashboardStyle.css">

    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle-button">
    <div class="custom-sidebar">
        <div class="sidebar-brand">
            <img src="/img/redeemMiniIcon.svg" alt="logo" class="mini-logo">
            <img src="/img/redeemLogoWithe.png" alt="redeem-text" class="redeem-text">
        </div>

        <hr class="solid">

        <div class="principal-sidebar-menu">
            <div>
                <ul>
                    <li>
                        <!-- El href vacío hace que se redireccione al dashboard -->
                        <a th:href="@{/emp/}" class="selected" id="dash-button">
                            <span class="material-icons sidebar-icon">analytics</span>
                            <p>Dashboard</p> 
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/emp/history}" id="trans-hist-button">
                            <span class="material-icons">history_edu</span>
                            <p>Historial transacciones</p> 
                        </a>
                    </li>

                    <hr class="solid">

                    <li>
                        <a th:href="@{/emp/transfer}" id="transfer-button">
                            <span class="material-icons">connect_without_contact</span>
                            <p>Transferir</p> 
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/emp/marketplace}">
                            <span class="material-icons sidebar-icon">
                                store
                            </span>
                            <p>Marketplace</p>
                        </a>
                    </li>

                    <hr class="solid">

                    <li>
                        <a th:href="@{/emp/marketplace/cart}" id="emp-cart">
                            <span class="material-icons">shopping_cart</span>
                            <p>Ir al carrito</p>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/emp/profile}" id="emp-profile">
                            <span class="material-icons">perm_identity</span>
                            <p>Ver perfil</p>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/logout}" onclick="window.localStorage.clear();">
                            <span class="material-icons">power_settings_new</span>
                            <p>Cerrar sesión</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="menu-info">
                <label for="nav-toggle">
                    <span class="material-icons header-icon">
                        menu
                    </span>
                </label>
                <div class="current-page"><h4>Dashboard</h4></div>
                
            </div>
            
            <div class="user-info">
                <div class="name-rol">
                    <h5 th:text="${employeeDashboardInfo.name}"></h5>
                    <small>Empleado</small>
                </div>
                <div><span class="material-icons">account_circle</span></div>
            </div>
        </header>

        <main id="main-content">

            <div class="custom-cards">
                <div class="custom-card company">
                    <h3 th:text="${employeeDashboardInfo.companyName}"></h3>
                    <span>N.I.T. <span th:text="${employeeDashboardInfo.companyNit}"></span></span>
                </div>
                <div class="custom-card budget">
                    <h4>Balance</h4>
                    <h3>$<span th:text="${employeeDashboardInfo.balance}"></span></h3>
                </div>
            </div>


            <!--  NEW STUFF ADDED BY SANTIAGO -->
            <hr class="dashed">

            <div class="custom-cards1">
                <a th:href="@{/emp/history}" class="custom-card user">
                    <h4 class="h4-v1">Mis compras</h4>
                </a>
                <div class="custom-card user1">
                    <h6 class="h6-v2">Producto más Comprado</h6>
                    <div th:if="${mostPurchasedProductByMe != null}">
                        <img class="img-products" th:src="${mostPurchasedProductByMe.imageUrl}">
                        <div>
                            <h6 th:text="${mostPurchasedProductByMe.name}" class="h6-v4"></h6>
                            <h6 th:text="'Unidades compradas: ' +  ${mostPurchasedProductByMe.amount}"></h6>
                        </div>
                    </div>
                    <div th:if="${mostPurchasedProductByMe == null}">No hay productos para mostrar</div>
                </div>

                <div class="custom-card user2">
                    <h6 class="h6-v2">Comprado recientemente</h6>
                    <div th:if="${lastPurchases.size() != 0}">
                        <div class="custom-cards1">
                            <div class="mini-items">
                                <img class="img-products1" th:src="${lastPurchases[0].imageUrl}" >
                                <h6 th:text="${lastPurchases[0].name}" class="h6-v4"></h6>
                                <h6 th:text="'Unidades compradas: ' + ${lastPurchases[0].amount}"></h6>
                            </div>
                            <div th:if="${lastPurchases.size() > 1}" class="mini-items">
                                <img class="img-products1" th:src="${lastPurchases[1].imageUrl}" >
                                <h6 th:text="${lastPurchases[1].name}" class="h6-v4"></h6>
                                <h6 th:text="'Unidades compradas: ' + ${lastPurchases[1].amount}"></h6>
                            </div>
                        </div>
                        <div class="custom-cards1">
                            <div th:if="${lastPurchases.size() > 2}" class="mini-items">
                                <img class="img-products1" th:src="${lastPurchases[2].imageUrl}" >
                                <h6 th:text="${lastPurchases[2].name}" class="h6-v4"></h6>
                                <h6 th:text="'Unidades compradas: ' + ${lastPurchases[2].amount}"></h6>
                            </div>
                            <div th:if="${lastPurchases.size() > 3}" class="mini-items">
                                <img class="img-products1" th:src="${lastPurchases[3].imageUrl}" >
                                <h6 th:text="${lastPurchases[3].name}" class="h6-v4"></h6>
                                <h6 th:text="'Unidades compradas: ' + ${lastPurchases[3].amount}"></h6>
                            </div>
                        </div>
                    </div>
                    <div th:if="${lastPurchases.size() == 0}">No hay productos para mostrar</div>

                </div>


            </div>

            <hr class="dashed">

            <div class="custom-cards2">
                <div class="custom-card enterprise1">
                    <h6 class="h6-v3">Producto más Comprado</h6>
                    <div th:if="${mostPurchasedProduct != null}">
                        <img class="img-products" th:src="${mostPurchasedProduct.imageUrl}">
                        <h6 th:text="${mostPurchasedProduct.name}" class="h6-v4"></h6>
                        <h6 th:text="'Unidades vendidas: ' + ${mostPurchasedProduct.amount}"></h6>
                    </div>
                    <div th:if="${mostPurchasedProduct == null}">No hay productos para mostrar</div>

                </div>
                <div class="custom-card enterprise2">
                    <h6 class="h6-v3">Producto más comprado (último mes)</h6>
                    <div th:if="${mostPurchasedProductLastMonth != null}">
                        <img class="img-products" th:src="${mostPurchasedProductLastMonth.imageUrl}">
                        <h6 class="h6-v4" th:text="${mostPurchasedProductLastMonth.name}"></h6>
                        <h6 th:text="'Unidades vendidas: ' + ${mostPurchasedProductLastMonth.amount}"></h6>
                    </div>
                    <div th:if="${mostPurchasedProductLastMonth == null}">No hay productos para mostrar</div>
                </div>
                <div class="custom-card enterprise">
                    <h4 class="h4-v1">Empresa</h4>
                </div>
            </div>

        </main>
    </div>

    <script src="/scripts/employeeDashboardLogic.js"></script>
</body>
</html>