<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/RedeemIcon.ico">
    <title>Error :(</title>

    <!-- Style -->
    <link rel="stylesheet" href="styles/styleerror.css">
</head>
<body>
    <div class="main-container">
        <br><br>
        <h1>¡Ups!... Tuvimos un error :(</h1>
        <h3>Vuelve a intentarlo más tarde.</h3>
        <br>
        <img src="img/error.png" alt="error" class="error-image">
        <br><br>
        <button type="button" class="button"><a th:href="@{/login}">Volver al inicio</a></button>
    </div>
</body>
</html>