<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>reg admin</title>
</head>
<body>
<form th:action="@{/reg/admin}" method="post" th:object="${admin}">
  <div >
    <label for="name">Nombres</label>
    <input id="name" class="form-control" th:field="*{name}" />
  </div>
  <div >
    <label for="lastName">Apellidos</label>
    <input id="lastName" class="form-control" th:field="*{lastName}" />
  </div>
  <div >
    <label for="email">Correo</label>
    <input id="email" class="form-control" th:field="*{email}" />
  </div>
  <div >
    <label for="password">Contraseña</label>
    <input id="password" class="form-control" th:field="*{password}" />
  </div>
  <div >
    <label for="celphone">Tel</label>
    <input id="celphone" class="form-control" th:field="*{cellphone}" />
  </div>
  <div >
    <label for="birthday">Tel</label>
    <input id="birthday" type="date" class="form-control" th:field="*{birthday}" />
  </div>
  <div >
    <button type="submit" class="btn btn-success">Registrar</button>
  </div>
</form>
</body>
</html>