<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../static/img/RedeemIcon.ico">
  <title>Carrito de compras</title>

  <!-- Style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/dashboardStyle.css">
  <link rel="stylesheet" href="/css/shoppingCartStyle.css">
  <link rel="stylesheet" href="../static/styles/dashboardStyle.css">
  <link rel="stylesheet" href="../static/styles/shoppingCartStyle.css">

  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body>
<input type="checkbox" id="nav-toggle" class="nav-toggle-button">
<div class="custom-sidebar">
  <div class="sidebar-brand">
    <img src="/img/redeemMiniIcon.svg" alt="logo" class="mini-logo">
    <!--h4 class="redeem-name">Redeem</h4--><img src="/img/redeemLogoWithe.png" alt="redeem-text" class="redeem-text">
  </div>

  <hr class="solid">

  <div class="principal-sidebar-menu">
    <ul>
      <li>
        <!-- El href vacío hace que se redireccione al dashboard -->
        <a th:href="@{/emp/}" id="dash-button">
          <span class="material-icons sidebar-icon">analytics</span>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a th:href="@{/emp/history}" id="trans-hist-button">
          <span class="material-icons">history_edu</span>
          <p>Historial transacciones</p>
        </a>
      </li>

      <hr class="solid">

      <li>
        <a th:href="@{/emp/transfer}" id="transfer-button">
          <span class="material-icons">connect_without_contact</span>
          <p>Transferir</p>
        </a>
      </li>

      <li>
        <a th:href="@{/emp/marketplace}">
          <span class="material-icons sidebar-icon">
            store
          </span>
          <p>Marketplace</p>
        </a>
      </li>

      <hr class="solid">

      <li>
        <a class="selected" th:href="@{/emp/marketplace/cart}" id="emp-cart">
          <span class="material-icons">shopping_cart</span>
          <p>Ir al carrito</p>
        </a>
      </li>

      <li>
        <a th:href="@{/emp/profile}" id="emp-profile">
          <span class="material-icons">perm_identity</span>
          <p>Ver perfil</p>
        </a>
      </li>

      <li>
        <a th:href="@{/logout}">
          <span class="material-icons">power_settings_new</span>
          <p>Cerrar sesión</p>
        </a>
      </li>


    </ul>
  </div>
</div>

<div class="main-content">
  <header>
    <div class="menu-info">
      <label for="nav-toggle">
                    <span class="material-icons header-icon">
                        menu
                    </span>
      </label>
      <div class="current-page"><h4 id="title">Dashboard</h4></div>

    </div>

    <div class="user-info">
      <div class="name-rol">
        <h4 th:text="${session.name}"></h4>
        <small>Administrador</small>
      </div>
      <div><span class="material-icons">account_circle</span></div>
    </div>
  </header>

  <main id="main-content">

    <!-- TEMPLATES-->

    <template id="template-products">
      <tr class="table-row">
        <td>
          <img class="product-image"></img>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="add-decrement-buttons">
            <button class="btn btn-primary btn-sm aumentar-button" data-id="">
              +
            </button>
            <button class="btn btn-default btn-sm disminuir-button" data-id="">
              -
            </button>
            <span class="material-icons delete-element" data-id="">clear</span>
          </div>

        </td>
      </tr>
    </template>

    <template id="template-footer">
      <th class="total-products-label" scope="row" colspan="3">Total</th>
      <td class="footer-label-quantity">20</td>
      <td class="footer-label-total">$ <span>5000</span></td>
      <td>
        <form method="post" th:object="${purchase}" th:action="@{/emp/marketplace/cart}">
          <div style="display: none" th:text="${session.id}" id="employeeIdSource"></div>
          <input style="display: none;" th:field="*{employeeId}" name="employeeId" type="number" id="employeeId">
          <input style="display: none;" th:field="*{value}" name="value" type="number" id="value">
          <input style="display: none;" th:field="*{productsAndQuantities}" name="productsAndQuantities" type="text" id="productsAndQuantities">
          <button type="submit" onclick="asignValuestoSend();" class="btn btn-confirm-purchase" id="confirm-button">Confirmar compra</button>
        </form>
      </td>
    </template>

    <!-- MAIN CONTENT -->

    <div class="head-titles">
      <h2>Carrito de Compras</h2>
      <a class="a-label-cart">
        <span class="material-icons shopping-cart" onclick="emptyShoppingCart()">remove_shopping_cart</span>
      </a>


    </div>

    <table id="products-table" class="products-table" >
      <thead class="table-header">
      <tr>
        <th>Producto</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody id="items"></tbody>
      <tfoot>
      <tr id="footer" class="template-footer-style">
        <th class="empty-cart-message" colspan="5"> ¡El carrito está vacío! Añade productos y empieza a redimir tus puntos</th>
      </tr>
      </tfoot>


    </table>
  </main>
</div>
<script src="/scripts/employeeDashboardLogic.js"></script>
<script src="/scripts/shoppingCartLogic.js"></script>
<script src="../static/scripts/employeeDashboardLogic.js"></script>
<script src="../static/scripts/shoppingCartLogic.js"></script>
</body>
</html>