<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/redeemIcon.ico">
    <title>Transferir</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/transferStyle.css">
    <link rel="stylesheet" href="../static/styles/transferStyle.css">

    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<input type="checkbox" id="nav-toggle" class="nav-toggle-button">
    <div class="custom-sidebar">
        <div class="sidebar-brand">
            <img src="/img/redeemMiniIcon.svg" alt="logo" class="mini-logo">
            <img src="/img/redeemLogoWithe.png" alt="redeem-text" class="redeem-text">
        </div>

        <hr class="solid">

        <div class="principal-sidebar-menu">
            <div>
                <ul>
                    <li>
                        <!-- El href vacío hace que se redireccione al dashboard -->
                        <a th:href="@{/emp/}" id="dash-button">
                            <span class="material-icons sidebar-icon">analytics</span>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/emp/history}" id="trans-hist-button">
                            <span class="material-icons">history_edu</span>
                            <p>Historial transacciones</p>
                        </a>
                    </li>

                    <hr class="solid">

                    <li>
                        <a th:href="@{/emp/transfer}" class="selected" id="transfer-button">
                            <span class="material-icons">connect_without_contact</span>
                            <p>Transferir</p>
                        </a>
                    </li>

                    <hr class="solid">

                    <li>
                        <a th:href="@{/emp/profile}" id="admin-profile">
                            <span class="material-icons">perm_identity</span>
                            <p>Ver perfil</p>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/logout}">
                            <span class="material-icons">power_settings_new</span>
                            <p>Cerrar sesión</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>




<div class="main-content">
    <header>
        <div class="menu-info">
            <label for="nav-toggle">
                    <span class="material-icons header-icon">
                        menu
                    </span>
            </label>
            <div class="current-page"><h4>Dashboard</h4></div>

        </div>

        <div class="user-info">
            <div class="name-rol">
                <h5 th:text="${session.name}"></h5>
                <small>Empleado</small>
            </div>
            <div><span class="material-icons">account_circle</span></div>
        </div>
    </header>
    <main id="main-content">
        <div class="container">
            <img src="/img/transferImage.png" alt="trans-image" class="trans-image">
            <div class="subcontainer">
                <h1>Transferencias entre usuarios</h1>
                <form class="trans-regform" id="doc-form" th:action="@{/emp/transfer}"  method="post" th:object="${transfer}">
                    <div class="trans-form">
                        <label class="trans-label" for="beneficiary">Usuario al que deseas transferir</label>
                        <input id="beneficiary" class="trans-input" placeholder="Ingrese un email o un id." th:field="*{receiverIdentifier}" required autofocus="autofocus" >
                    </div>
                    <div  style="display: none" id="email_error"> Por favor, introduzca un correo válido. </div>
                    <div  th:if="${param.userNotFound}">
                        <div style="color:firebrick; "   class="error_messaje"> El usuario que ingresaste no existe. </div>
                    </div>
                    <div class="trans-form">
                        <label class="trans-label" for="amount">Monto a transferir</label>
                        <input id="amount" class="trans-input" max="10000000" placeholder="Ingrese la cantidad a transferir." type="number" th:field="*{amount}" required autofocus="autofocus">
                    </div>
                    <div  style="display: none" id="amount_error"> Como mínimo se deben transferir 10000$. </div>
                    <div  th:if="${param.insufficient}">
                        <div style="color:firebrick; "   class="error_messaje"> Tu saldo es insuficiente. </div>
                    </div>
                    <div class="trans-form">
                        <button type="button" class="btn-submit"><p class="btn-text">Transferir dinero</p></button>
                    </div>
                    <div  th:if="${param.success}">
                        <div style="color:lawngreen; "   class="error_messaje"> Transacción realizada con éxito. </div>
                    </div>
                    <div class="modal">
                        <div class="modal-content">
                            <h2 class="casi">¡¡¡Ya casi!!!</h2>
                            <p class="confirm"></p>

                            <div class="clearfix">
                                <button type="button" class="cancelbtn">Cancelar</button>
                                <input type="submit" value="Transferir" class="acceptbtn">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </main>
</div>



<script src="/scripts/transferLogic.js"></script>
<script src="../static/scripts/transferLogic.js"></script>


</body>
</html>