@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

:root{
    --main-color: #8d44ad;
    --text-color: #424242;
    --second-color: #C496D7;
    --main-background-color: rgba(246, 246, 246, 1);
}


html, body{
    background-color: var(--main-color);
    color: var(--text-color);
    list-style-type: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 60%;
    background-color: white;
    border-radius: 60px;
    padding: 1rem 10%;
    margin: 2%;
}

.redeem-logo{
    width: 10%;
    margin: 12px 0;
}

.reg-form{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.fields{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.field{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 2.5%;
}

.fields label{
    padding-left: 10px;
}

.field-box{
    width: 20rem;
    background-color: rgb(243, 243, 243);
    height: 35px;
    border-radius: 10px;
    border: none/*1px solid gray*/;
    box-shadow: inset 0 4px 4px 0 rgba(167, 167, 167, 0.589);
    padding: 0 1rem;
    outline: none;
}

.options{
    display: flex;
    flex-flow: column;
    margin: 3% 0;
}

.cancel-button{
    margin: 15px 0 0 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    border-radius: 18px;
    border: none;
    width: 150px;
}

.cancel-button:hover {
    background-color: rgb(241, 241, 241);
}

a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color:  #8E44AD;
    text-decoration: none;
}

.submit-button{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    height: 40px;
    width: 150px;
    background-color: #8E44AD;
    color: white;
    border-radius: 18px;
    border: none;
}

.submit-button:hover{
    background-color: #7c3b97;
}

/* Validation errors*/
.validation-error{
    width: 18rem;
    margin-left: 1rem;
    color: firebrick;
    display: none;
}