@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

:root{
    --main-color: #8d44ad;
    --main-background-color: rgba(246, 246, 246, 1);
}


html, body{
    background-color: var(--main-color);
    color: white;
    list-style-type: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.error-image{
    width: 25%;
}

h3 {
    font-weight: 400;
}

.button{
    background-color: #8E44AD;
    border-radius: 18px;
    margin: 0 25%;
    padding: .5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.705);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

.button:hover{
    background-color: #793c94;
    margin: 0 24%;
}

