@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

:root{
    --main-color: #8d44ad;
    --text-color: #424242;
    --second-color: #C496D7;
    --main-background-color: rgba(246, 246, 246, 1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

html, body{
    
    background-color: var(--main-background-color);
    list-style-type: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* side bar */

.sidebar{
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    padding: 0 0 0 2rem;
    transition: width 300ms;
}

.sidebar-brand{
    height: 90px;
    padding:  2rem 0;
    color: var(--second-color);
    display: flex;
    align-items: center;
}

.sidebar-brand img{
    margin-right: 1rem;
}


.mini-logo{
    width: 2rem;
}

.redeem-text{
    width: 100px;
    overflow: hidden;
}

hr.solid {
    border: 1px solid #c396d7b0;
    width: 80%;
    margin: 5% 0;
}

hr.space-menu{
    border: 1px solid #00000000;
    margin: 70% 0;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-menu li{
    width: 100%;
    margin: 1.5rem 0;
}

.sidebar-menu a{
    display: flex;
    color: var(--second-color);
    font-weight: 600;
    font-size: 1rem;
}

.sidebar-menu a:hover{
    color: #fff;
}

.sidebar-menu a.selected, span.material-icons.sidebar-icon.selected{
    color: #fff;
}

.sidebar-menu p{
    margin-left: 1rem;
}

.material-icons.header-icon{
    color: var(--text-color);
    font-size: 2rem;
    margin: 0 20px;
}

#nav-toggle:checked + .sidebar {
    width: 80px;
}

#nav-toggle:checked + .sidebar p ,
#nav-toggle:checked + .sidebar li a span:last-child ,
#nav-toggle:checked + .sidebar.sidebar-brand img:last-child
{
    display: none;
}

#nav-toggle:checked ~ .main-content{
    margin-left: 80px;
}

#nav-toggle:checked ~ .sidebar hr.solid{
    border: 1px solid #c396d7b0;
    width: 60%;
    margin: 10% 0;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.212);
    margin-bottom: 1rem;
    background-color: #fff;
    color: var(--text-color);

}

.nav-toggle-button{
    position: fixed;
}

.menu-info{
    display: flex;
    align-items: center;
}

.user-info{
    display: flex;
    align-items: center;
}

.name-rol{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-info span{
    font-size: 2rem;
    color: var(--second-color);
    margin: 0 1rem 0 2rem;
}

/* main content */
.main-content{
    margin-left: 20%;
    transition: margin-left 300ms;
}

main{
    padding: 1rem 2rem;
}

.cards{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2rem;
}

.card{
    display: flex;
    flex-flow: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.212);
    color: var(--text-color);
    justify-content: center;
}

.card.budget{
    background-color: var(--main-color);
    color: #fff;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 80px;
    }
    
    .sidebar p ,
    .sidebar li a span:last-child ,
    .sidebar.sidebar-brand{
        display: none;
    }
    
    .sidebar.sidebar-brand{
        padding:  2rem 0;
        margin: 0;
    }
    
    .main-content{
        margin-left: 80px;
    }
    
    .sidebar hr.solid{
        border: 1px solid #c396d7b0;
        width: 60%;
        margin: 10% 0;
    }

    .sidebar:hover {
        width: 300px;
    }
    
    .sidebar:hover p ,
    .sidebar:hover li a span:last-child{
        display: inline;
    }

    .sidebar:hover .sidebar-brand {
        padding: 0;
    }

    
    .sidebar:hover hr.solid{
        border: 1px solid #c396d7b0;
        width: 60%;
        margin: 10px 0;
    }

    .sidebar:hover hr.space-menu {
        margin: 50% 0;
    }
}

@media only screen and (max-width: 680px){
    .cards{
        grid-template-columns: 100%;
    }
}