@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

:root{
    --main-color: #8d44ad;
    --text-color: #424242;
    --second-color: #C496D7;
    --main-background-color: rgba(246, 246, 246, 1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

html, body{

    background-color: var(--main-background-color);
    list-style-type: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* side bar */

.custom-sidebar{
    width: 22%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    padding: 0 0 0 2rem;
    transition: width 300ms;
}

.sidebar-brand{
    height: 90px;
    padding:  2rem 0;
    color: var(--second-color);
    display: flex;
    align-items: center;
}

.sidebar-brand img{
    margin-right: 1rem;
}


.mini-logo{
    width: 2rem;
}

.redeem-text{
    width: 100px;
    overflow: hidden;
}

hr.solid {
    border: 1px solid #c396d7b0;
    width: 80%;
    margin: 5% 0;
}

hr.space-menu{
    border: 1px solid #00000000;
    margin: 70% 0;
}

div.principal-sidebar-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.principal-sidebar-menu li{
    width: 100%;
    margin: 1.5rem 0;
}

div.principal-sidebar-menu a{
    display: flex;
    color: var(--second-color) !important;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer !important;
}

.principal-sidebar-menu a:hover{
    text-decoration:none;
    color: #fff;
}

.principal-sidebar-menu a:hover{
    text-decoration:none;
    color: white !important;
}

div.principal-sidebar-menu a.selected, span.material-icons.sidebar-icon.selected{
    color: #fff !important;
}


div.principal-sidebar-menu a.non-selected, span.material-icons.sidebar-icon.non-selected{
    color: var(--second-color);
}


.principal-sidebar-menu p{
    margin-left: 1rem;
}

.material-icons.header-icon{
    color: var(--text-color);
    font-size: 2rem;
    margin: 0 20px;
}

#nav-toggle:checked + .custom-sidebar {
    width: 80px;
}

#nav-toggle:checked + .custom-sidebar p ,
#nav-toggle:checked + .custom-sidebar li a span:last-child ,
#nav-toggle:checked + .custom-sidebar.sidebar-brand img:last-child
{
    display: none;
}

#nav-toggle:checked ~ .main-content{
    margin-left: 80px;
}

#nav-toggle:checked ~ .custom-sidebar hr.solid{
    border: 1px solid #c396d7b0;
    width: 60%;
    margin: 10% 0;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.212);
    margin-bottom: 1rem;
    background-color: #fff;
    color: var(--text-color);

}

.nav-toggle-button{
    position: fixed;
}

.menu-info{
    display: flex;
    align-items: center;
}

.user-info{
    display: flex;
    align-items: center;
}

.name-rol{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-info span{
    font-size: 2rem;
    color: var(--second-color);
    margin: 0 1rem 0 2rem;
}

/* main content */
.main-content{
    margin-left: 22%;
    transition: margin-left 300ms;
}

main{
    padding: 1rem 2rem;
}


.trans-container{
    width: 100%;
    height: 100%;
    margin-top: 3%;
    margin-left: 3%;

}

h1{
    margin-left: 1%;
}

.trans-table{
    width: 100%;
    margin-top: 3%;
    border: var(--main-background-color);
    border-collapse: separate;
    border-spacing: 1rem;
}

.tbody{
    padding: 0;
}

.row-container{
    background-color: #CAC7D2;
    border-radius: 15px;
    width: 40%;
    height: 60px;
    display: flex;
}

.user-date{
    margin-left: 2%;
}

.name{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    margin-top: 1%;
}

.date{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;
}

.amount{

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #85342A;
    margin-left: 20%;

}

@media only screen and (max-width: 1200px) {
    .custom-sidebar {
        width: 80px;
    }

    .custom-sidebar p ,
    .custom-sidebar li a span:last-child ,
    .custom-sidebar.sidebar-brand{
        display: none;
    }

    .custom-sidebar.sidebar-brand{
        padding:  2rem 0;
        margin: 0;
    }

    .main-content{
        margin-left: 80px;
    }

    .custom-sidebar hr.solid{
        border: 1px solid #c396d7b0;
        width: 60%;
        margin: 10% 0;
    }

    .custom-sidebar:hover {
        width: 300px;
    }

    .custom-sidebar:hover p ,
    .custom-sidebar:hover li a span:last-child{
        display: inline;
    }

    .custom-sidebar:hover .sidebar-brand {
        padding: 0;
    }


    .custom-sidebar:hover hr.solid{
        border: 1px solid #c396d7b0;
        width: 60%;
        margin: 10px 0;
    }

    .custom-sidebar:hover hr.space-menu {
        margin: 50% 0;
    }
}

@media only screen and (max-width: 680px){
    .cards{
        grid-template-columns: 100%;
    }
}